*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.log
*.o
*.prof
*.sw*
.HTF/
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.stack-work
cabal-dev
cabal.project.local
cabal.sandbox.config
demo/
dist
dist-*
result
stack.yaml.lock
